* {
    background-color: rgb(27, 27, 27);
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    height: 100vh;
}

#container1 {
    margin: 20px;
}



#box1 {
    border: solid aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

#box1  div {
    /* border: solid aqua; */
    font-size: 1.3rem;
}

.subclassHeader {
    color: rgb(213, 244, 255);
}

.greyText {
    color: rgb(209, 209, 209);
}

#NameandPic {
    flex: 2;
    border: 1px solid cornflowerblue;
}

#contactInfo {
    flex: 1;
    border: 1px solid coral;
    text-align: left;
    size: 2rem;
}

.tableHeader{
    margin: 30px;
    width: 70%;
}

#resumeImage {
    max-height: 150px;
    float: left;
    margin: 10px;
    margin-right: 50px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#summary {
    flex: 1;
    padding: 10px;
    border: 1px solid wheat;

}

#section2 {
    display: flex;
    flex-flow: column wrap;
    border: solid orange;
    font-size: 1.2rem;
    padding:10px;
}

.section2Entry {
    display: flex;
    flex-flow: column wrap;
    
}

.section2EntryContainer {
    /* border: solid 1px lightcoral; */
    padding: 5px;
    margin: 5px;
    margin-left: 30px;
}

.employmentHeader{
    background-color: rgb(61, 52, 52);
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
}

.sectionHeaderArrow {
    display: flex;
    flex: row;
}

.employmentCompany {
    display:inline;
}

.fa-solid-square {
    color: rgb(68, 106, 204);
    float: left;
    display: inline;
    top: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 10px;
}


.fa-circle-chevron-right {
    color: rgb(68, 106, 204);
}

.fa-solid-education {
    color: lightgreen;
}

.section2Header {    
    font-style: oblique;
    width:max-content;
    display: inline;
}

.bullet {
    height: 10px;
}

.date {
    display: inline;
    float: right;
    vertical-align: text-top;
}

#education > .section2EntryContainer {
    /* border: solid 1px green; */
}

.container { 
    background-color: rgb(192, 192, 192); 
    width: 60%; 
    border-radius: 15px; 
} 

.position {
    margin-top: 0px;
}

.section3Container {
    font-size: 1.4rem;
    margin: 5px;
    padding: 10px;
}

#programmingSkillsList {
    list-style-type: none;
}

#softskills {
    padding-left: 0px;
}

.skill { 
    background-color: rgb(68, 106, 204); 
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 1rem; 
    border-radius: 15px; 
} 

.java { 
    width: 50%; 
}

.skill.sql, .square.sql {
    background-color: lightgreen;
}

.sql {
    width: 60%
}

.skill.html {
    background-color: rgb(33, 95, 126);
    width: 70%;
}

.skill.css {
    background-color: palevioletred;
    width: 40%;
}

.graphicSkills {
    list-style: none;
}

.square {
    height: 10px;
    width: 10px;
    padding: 3px;
    margin-right: 15px;
    background-color: #555;
    display: inline-block;
}

.square.java {
    background-color: lightblue;
}

.square.junit {
    background-color: rgb(33, 95, 126);
}

.square.htmlandcss {
    background-color: palevioletred;
}


.section2and3Container {
    margin: 20px;
    display: flex;
    flex-flow: row;
}

.softskillsCircle.square {
    margin: 0px;
    border-radius: 50%;
}

.skillLi {
    display: inline;
    font-size: 1.5vw;
}

#circleSkillsContainer {
    display: inline;
    margin-left: 8%;
}

#circleSkillsContainer.Teamwork {
    margin-left: 79px;
}

#circleSkillsContainer.professionalism {
    margin-left: 35px;
}

#section2 {
    flex: 2;
}



#section3 {
    border: yellow solid;
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-items: stretch;
}

@media (max-width: 900px) {
    .section2and3Container {
        display: flex;
        flex-flow: column wrap;
        justify-items: stretch;
    }
    .section3Container {
        margin: 0px;
    }
}



